html,body{
    margin:0;
    padding:0;
}

body{
    background-color: #000;
    color: #d2d1cf;
    font-size: 12px;
    font-family: "Helvetica";
    margin: 0px;
    padding:0px;
    text-align: center;
}

div#header{
    background-color: #246084;
    height: 170px;
    display: block;
}

div#header h1{
    margin:0;
}

div#headertext{
    width: 700px;
	visibility: hidden;
}

div#footer p{
    margin:0;
    padding:5px 10px;
}


div#leftcolumn{
    float: left;
    margin-top: 10px;
    width: 160px;
}

div#footer{
    clear:left;
    width:100%;
}

#logo{
    float:left;
    color: #d2d1cf;
    font-size: 36px;
}


a{
    text-decoration: none;
    color: #d2d1cf;
}

a:hover{
    color:#D0D0D0;
}

a.seenlink{
    text-decoration: none;
    color:#D0D0D0;
}


.form{	
	
}


#what, #where{
	 float:left;
	 padding-left: 5px;
	 clear: both;
}

#what {
	padding-right: 12px;
}

#where {
	padding-right: 5px;
}

.form .inputtext{
	float:left;
	color: #d2d1cf;
	font-size: 14px;
	font-family: "helvetica";
	background-color: #3dadf1;
}

form .inputsubmit {
	background-color: #0D274D;
	color: #d2d1cf;
	font-weight: bold;
	font-size: 24px;
	position: absolute;
	top:90px;
	left:215px; 
}

#searchHeader{
	visibility: hidden;
}


div.listbox{
    text-align: left;
    background-color: #246084;
    color: #d2d1cf;
    width: 230px;
    height: 300px;
    float:left;
    margin: 10px;
	margin-left: 20px;
    padding: 10px;
    border: 4px solid #ccc;
}

.listsourceImage{
    max-height: 50px;
    max-width: 100px;
}

div.listbox{
    float: left;
}

div.listbox .logo{
    background-color: white;
    text-align: center;
}

div.listbox .title{
    margin: 5px 0 5px 0;
    font-weight: bold;
}


div.listbox .description{
}

div.listbox .link a{
    text-decoration: none;
    font-size: 24px;
    color: #d2d1cf;
}

div.listbox .link a:hover{
    color: #0D274D;
}

div#footer{
    font-size: 10px;
    color: #d2d1cf;
}

div#footer hr{
    width: 500px;
}

div.slogan{
    float:right;
    margin: 10px;
    color: #d2d1cf;
}

ul#tabs{
	float:left; 
}

#tabs{
	height: 2em;
    list-style: none;
    margin: 2em;
    padding: 0;
}

#tabs li {
	display: inline;
	border: 1px solid #0D274D;
	margin: 0 0.5em 0 0;
	padding: 0.8em;
}

.tabSelect{
	background-color:#0D274D;
}

a:hover li.tabs{
	background-color:#246084;
}

.invisible{
	display: none;
	visibility: hidden;
}

.visible{
	display: block;
	visibility: visible;
}



